[Unit]
Description=Check and Update FoundryVTT
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/pi/raspi_foundry_setup/python/check_and_update_foundry.py